<div class="bg-off-white pv4">
	<div class="flex flex-column items-center ph3 mw-100 center">

		<h2 class="f2 b lh-title mb3">Next Event</h2>

		<div class="tc w-100 flex-ns mhn1-ns flex-column mb3 items-center">
			<div class="items-center pa3 bg-grey-1 br1 mb2 db raise w-100">
				<h2 class="f3 b lh-title mb1 primary">Title of next event</h2>
				<div class="flex justify-around items-center center justify-center">
					<div>
						<p class="tc mid-gray lh-title b mb2">{{ .Date.Format "Mon, Jan 2, 2006" }}</p>
					  	<p>Free appetizers and cash bar
						Music, friends, and fun!</p>
						<p>Dress Code: formal (nothing too fancy)</p>
						<p>There will be lots of food and drink and many surprises!</p>
					</div>
			  
					<div>
					  <img src="https://placehold.co/300" alt="Placeholder Photo" srcset="">
					</div>
			  
				  </div>
				<!-- <p class="mb0">{{ .Description }}</p> -->
				<!-- <a href="{{ .RelPermalink }}" class="no-underline link b dib black mb0">See our past events →</a> -->
			</div>
		</div>

		<div class="tc">
			<a href="/post" class="btn raise">Past Events</a>
		</div>

	</div>
</div>
