<div class="bg-off-white pv4">
	<div class="flex flex-column items-center ph3 mw-100 center">

		<h2 class="f2 b lh-title mb3 primary tc" >50th Reunion Dinner Dance Information</h2>

		<div class="tc w-100 flex-ns mhn1-ns flex-column mb3 items-center">
			<div class="items-center pa3 bg-grey-1 br1 mb2 db raise w-100">
				<h2 class="f3 b lh-title mb1">Information</h2>
				<div class="flex-m  justify-between">
					<div class="flex flex-column items-center">
						<p class="tc"><span class="b primary">Date:</span> Saturday, September 13, 2025</p>
						<p style="margin-bottom: 22px;"><span class="b primary">Time:</span> <br>
							<span class="b">Reception:</span> 6:00 PM - 7:00 PM in the Palm Area (No-host bar) <br>
							<span class="b">Dinner & Dance:</span> 7:00 PM - 11:00 PM in the Crystal Ballroom (No-host bar)
						</p>
						<p><span class="b primary">Dress code:</span> Semi-formal (Sunday best)<br>
						<p><span class="b primary">Event Parking:</span> $8</p>
						<p><span class="b primary">Discounted Room Rate:</span> $149 per night (plus tax) <br>
							When reserving, use the group name: <span class="b">Sweetwater 50th High School Reunion 1975</span>
						</p>
						<p style="margin-bottom: 0;"><span class="b primary">Cost of Event:</span></p>
						<p style="margin-block-end: 22px">$125 for a single ticket <br>
							$240 for a couple</p>
					</div>
					
					<!-- 
	<div class="event-details">
        <p><span class="b primary">Date:</span> Saturday, September 13, 2025</p>
        <p><span class="b primary">Time:</span></p>
        <ul>
            <li><span class="primary">Reception:</span> 6:00 PM - 7:00 PM in the Palm Area (No-host bar)</li>
            <li><span class="primary">Dinner & Dance:</span> 7:00 PM - 11:00 PM in the Crystal Ballroom (No-host bar)</li>
        </ul>
        <p><span class="primary">Dress code:</span> Semi-formal (Sunday best)</p>
        <p><span class="b primary">Location:</span></p>
        <p>
            Handlery Hotel<br>
            950 Hotel Circle North<br>
            San Diego, CA 92108
        </p>
        <p><span class="b primary">Event Parking:</span> $8</p>
        <p><span class="b primary">Discounted Room Rate:</span> $149 per night (plus tax) <br>
			When reserving, use the group name: <span class="b">Sweetwater 50th High School Reunion 1975</span>
		</p>
        <p><span class="b primary">Cost of Event:</span></p>
        <ul>
            <li>$125 for a single ticket</li>
            <li>$240 for a couple</li>
        </ul>
        <p>Join us in the elegant Crystal Ballroom for an evening of reconnecting, dining, and dancing as we celebrate our 50th reunion in style! Don’t miss this special milestone event!</p>
    </div>
	
					-->
						
					<div class="flex flex-column justify-start">
						<p><span class="b primary">Location:</span> <br>
							<a href="https://sd.handlery.com/">Handlery Hotel</a><br>
							950 Hotel Circle North<br>
							San Diego, CA 92108
						</p>
						<div>
							<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6710.334198097817!2d-117.17296112472025!3d32.76130040692871!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80d9552cc4c0c6e1%3A0x69544eace8d29bb8!2sHandlery%20Hotel%20San%20Diego!5e0!3m2!1sen!2sus!4v1737011356105!5m2!1sen!2sus" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
						</div>
					</div>
			  
				  </div>
				<h2 class="f3 b lh-title mb2 mt2 primary"><a href="http://">Purchase Tickets Here</a></h2>

				<!-- <p class="mb0">{{ .Description }}</p> -->
				<!-- <a href="{{ .RelPermalink }}" class="no-underline link b dib black mb0">See our past events →</a> -->
			</div>
		</div>

		<!-- <div class="tc">
			<a href="/post" class="btn raise">Past Events</a>
		</div> -->

	</div>
</div>
