{{ define "main" }}

{{ partial "jumbotron" (dict "imageUrl" "/img/home-jumbotron.jpg" "title" "Purchase Tickets") }}

<!-- <div class="mw7 center">
  <ul id="blog-list" class="flex-ns flex-wrap mhn1-ns pa3">
      {{ range (.Paginator 4).Pages.ByPublishDate.Reverse }}
          <li class="w-50-ns ph1-ns flex">
            {{ .Render "li"}}
          </li>
      {{ end }}
  </ul>
  {{ partial "pagination" . }}
</div> -->

<div class="bg-off-white pv4">
	<div class="flex flex-column items-center ph3 mw-100 center">

		<h2 class="tc f2 b lh-title mb3 center">Puchase SUHI '75 High School Reunion Tickets</h2>

    <div class="tc lh-title mb0">
      <p class="tc mb1"><span class="tc f3 b lh-title mb1 primary">Payment Options:</span> </p>
      <p class="tc mb3">Please choose <span class="b">Venmo</span></a> or <span class="b">Zelle</span> to purchase your ticket(s). <br>
        Be sure to <span class="b">include your name and your guest’s name (if applicable) with your payment.</span>
      </p>
      <p class="tc b primary mb1">$125 for a single ticket</p>
      <p class="tc b primary">$240 for a couple</p>
    </div>

    <div class="flex-m center justify-center">
      <div class="flex flex-column items-center mt3">
        <h3 class="tc f3 b lh-title mb1 primary">Venmo</h3>
        <img src="img/venmo.png" alt="Venmo QR Code">
        <ol>
          <li>Scan the QR code above using your phone, or click on the following Venmo link <a href="https://venmo.com/u/eva-faiivae">https://venmo.com/u/eva-faiivae</a></li>
          <li>Enter the appropriate amount and be sure to include your name and your guest’s name (if applicable) with your payment</li>
        </ol>
      </div>

      <div class="flex flex-column items-center mt3">
        <h3 class="tc f3 b lh-title mb1 primary">Zelle</h3>
        <img src="img/zelle.png" alt="Zelle Payment Example">
        <ol>
          <li>Locate the "Send Payment" option in your banking app</li>
          <li>Enter Phone # (619) 417-0206 as the recipient and note that either Eva Faiivae or Robert Hernandez may show as the account owner</li>
          <li>Enter the appropriate amount and be sure to include your name and your guest’s name (if applicable) with your payment</li>
        </ol>
      </div>

    </div>

		<!-- <div class="tc w-100 flex-ns mhn1-ns flex-column mb3 items-center">
			{{ range first 4 (where .Data.Pages "Type" "post") }}
				<div class="ph1-ns w-90-ns w-70-l ">
					{{ .Render "li" }}
				</div>
			{{ end }}
		</div> -->

		<!-- <div class="tc">
			<a href="/post" class="btn raise">Past Events</a>
		</div> -->

	</div>
  <div class="flex flex-column items-center mw9 center">
    <h2 class="tc f2 b lh-title mt3">Guest List</h2>
    <iframe style="width:400px; height:1000px;" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vSS2STpk5V_iiOCTGetLGg7Sd0bx8Pjq7ZmfrAtgSwM3UhMTXlKsIMRj8EEcZezYbGpRrsjs5fXdUVq/pubhtml?gid=1327853053&amp;single=false&amp;widget=false&amp;headers=false"></iframe>
  </div>
  
</div>

{{end}}
