{{ define "main" }}

{{ partial "jumbotron" (dict "imageUrl" "/img/home-jumbotron.jpg" "title" "Purchase Tickets") }}

<!-- <div class="mw7 center">
  <ul id="blog-list" class="flex-ns flex-wrap mhn1-ns pa3">
      {{ range (.Paginator 4).Pages.ByPublishDate.Reverse }}
          <li class="w-50-ns ph1-ns flex">
            {{ .Render "li"}}
          </li>
      {{ end }}
  </ul>
  {{ partial "pagination" . }}
</div> -->

<div class="bg-off-white pv4">
	<div class="flex flex-column items-center mw9 center">

		<h2 class="tc f2 b lh-title mb3">Puchase Tickets SUHI '75 High School Reunion</h2>

    <div class="tc lh-title mb3">
      <p class="tc mb1"><span class="b primary">Payment Options:</span> </p>
      <p class="tc mb3">Please choose <a href="https://venmo.com/u/eva-faiivae"><span class="b">Venmo</span></a> or <a href="http://"><span class="b">Zelle</span></a> to purchase your ticket(s). <br>
        Be sure to <span class="b">include your name and your guest’s name (if applicable) with your payment.</span>
      </p>
      <p class="tc b primary mb1">$125 for a single ticket</p>
      <p class="tc b primary">$240 for a couple</p>
    </div>

    <div class="flex justify-around items-center center justify-center">
      <div class="flex flex-column items-center">
        <h3 class="tc f3 b lh-title mb1 primary">Venmo</h3>
        <img src="img/venmo.jpeg" alt="Venmo QR Code" srcset="" width="400px">
        <a href="https://venmo.com/u/eva-faiivae">https://venmo.com/u/eva-faiivae</a>
      </div>

      <div class="flex flex-column items-center">
        <h3 class="tc f3 b lh-title mb1 primary">Zelle</h3>
        <img src="https://placehold.co/400" alt="Zelle QR Code" srcset="">
      </div>

    </div>

		<!-- <div class="tc w-100 flex-ns mhn1-ns flex-column mb3 items-center">
			{{ range first 4 (where .Data.Pages "Type" "post") }}
				<div class="ph1-ns w-90-ns w-70-l ">
					{{ .Render "li" }}
				</div>
			{{ end }}
		</div> -->

		<!-- <div class="tc">
			<a href="/post" class="btn raise">Past Events</a>
		</div> -->

	</div>
  <div class="flex flex-column items-center mw9 center">
    <h2 class="tc f2 b lh-title mb3 mt5">Guest List</h2>
    <img src="https://placehold.co/800" alt="Zelle QR Code" srcset="">
  </div>
  
</div>

{{end}}
